[core]
	editor = \"C:\\Users\\USER\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" --wait
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Ahmed Fadel
	email = medofadel100@gmail.com
